[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/miniz"]
	path = vendor/miniz
	url = https://github.com/richgel999/miniz
[submodule "vendor/libjpeg-turbo"]
	path = vendor/libjpeg-turbo
	url = https://github.com/glorantq/libjpeg-turbo
[submodule "vendor/libsquish"]
	path = vendor/libsquish
	url = https://github.com/svn2github/libsquish
