[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/miniz"]
	path = vendor/miniz
	url = https://github.com/richgel999/miniz
[submodule "vendor/libjpeg-turbo"]
	path = vendor/libjpeg-turbo
	url = https://github.com/glorantq/libjpeg-turbo
[submodule "vendor/nvidia-texture-tools"]
	path = vendor/nvidia-texture-tools
	url = https://github.com/glorantq/nvidia-texture-tools
